* {
  font-family: "Roboto", sans-serif;
}
header {
  position: relative;
  margin-top: 50px;
}

nav {
  height: 50px;
  background-color: #212121;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 10;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_link {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.subheader {
  /*   position: relative; */
  height: 84px;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /*  z-index: 2; */
}

.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader .subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.subheader .subheader_call {
  margin-top: 19px;
  text-align: right;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.subheader .subheader_phone {
  display: block;
  line-height: 12px;
  margin-top: 8px;
  color: #fff;
  text-align: right;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
  min-height: 800px;
  background: url("../img/uber_bg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
  /*   transform: translateY(-74px);
  z-index: 1; */
}

.promo .promo_header {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo .promo_subheader {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.promo .promo_descr {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
  border: none;
  border-radius: 4px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.causes {
  min-height: 849px;
  margin: 18px 0 64px 0;
}

.causes .causes_btn {
  display: block;
  margin: 2px auto 0 auto;
  width: 115px;
  height: 27px;
  border: none;
  background: black;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  text-transform: uppercase;
}

.causes .causes_header {
  color: #222;
  margin-top: 33px;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.causes .causes_wrapper {
  margin-top: 41px;
  justify-content: space-between;
}

.causes .causes_descr {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.causes .causes_descr .causes_sabheader {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
}

.causes .causes_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.causes .causes_item .causes_round {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  width: 116px;
  height: 116px;
  background-color: #1eacc7;
  border-radius: 100%;
}
